@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pus1ir');
  src:  url('fonts/icomoon.eot?pus1ir#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pus1ir') format('truetype'),
    url('fonts/icomoon.woff?pus1ir') format('woff'),
    url('fonts/icomoon.svg?pus1ir#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address-book:before {
  content: "\e900";
}
.icon-bomberos:before {
  content: "\e901";
}
.icon-call-center:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}
.icon-empagua:before {
  content: "\e904";
}
.icon-iusi:before {
  content: "\e905";
}
.icon-multas:before {
  content: "\e906";
}
.icon-ornato:before {
  content: "\e907";
}
.icon-Bomberos_Municipales:before {
  content: "\e400";
}
.icon-Bomberos_Voluntarios:before {
  content: "\e401";
}
.icon-Call_Center:before {
  content: "\e402";
}
.icon-Cruz_Roja:before {
  content: "\e403";
}
.icon-Facebook:before {
  content: "\e404";
}
.icon-Conred:before {
  content: "\e405";
}
.icon-Igss:before {
  content: "\e406";
}
.icon-Instagram:before {
  content: "\e407";
}
.icon-PMT:before {
  content: "\e40a";
}
.icon-PNC:before {
  content: "\e40b";
}
.icon-Roosevelt:before {
  content: "\e40c";
}
.icon-San_Juan-_De-_Dios:before {
  content: "\e40d";
}
.icon-Twitter:before {
  content: "\e40e";
}
.icon-You_tube:before {
  content: "\e40f";
}
