/**************************************************************************************************
Imports
***************************************************************************************************/

/********** Fuentes **********/
@import url("../fonts/montserrat/stylesheet.css");
@import url("../fonts/icono-header/style.css");
@import url("../fonts/icon-web-site/style.css");
@import url("../fonts/fontawesome/web-fonts-with-css/css/fontawesome.css");
@import url("../fonts/fontawesome/web-fonts-with-css/css/fa-solid.css");
@import url("../fonts/fontawesome/web-fonts-with-css/css/fa-regular.css");
/**************************************************************************************************
Variables
***************************************************************************************************/
:root{
    --azul-oficial: #030e9e;
    --verde-oficial: #83bd3f;
    --fuente-oficial: 'montserratregular';
}

/**************************************************************************************************
General
***************************************************************************************************/

html,
body{
    font-family: var(--fuente-oficial);
    font-size: 16px;
    position: relative;
    z-index: 2;
    text-align: justify;
}

a{
    text-decoration: none !important;
}
p{
    margin: 0;
    line-height: 1.4;
}

/**************************************************************************************************
Header
***************************************************************************************************/
header{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

header section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

header section img{
    max-width: 150px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

header .wrapper-icon-header a {
    display: inline-block;
}

header .wrapper-icon-header a:nth-child(2) {
    margin-left: 10px;
}

header .wrapper-icon-header a p span {
    font-size: 12px;
    vertical-align: middle;
    color: var(--azul-oficial);
    font-weight: 600;
}
header .wrapper-icon-header p i{
    vertical-align: middle;
    color: var(--azul-oficial);
}

/**************************************************************************************************
Menu de navegacion
***************************************************************************************************/
.wrapper-navbar{
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 120px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.navbar{
    padding: 1rem 1rem;
}

.navbar div ul{
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav{
    flex-basis: 75%;
    justify-content: space-between;
}

.navbar-light .navbar-nav .nav-link{
    color: var(--azul-oficial);
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    padding: 0;
}
/**************************************** Efecto Underline ****************************************/
.navbar-light .navbar-nav .nav-link:after{
    width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover:after{
    width: 100%;
}

.navbar-light .navbar-nav .nav-link:after{
    content: '';
    position: absolute;
    left: 0px;
    top: 20px;
    bottom: 0px;
    height: 3px;
    background-color: #83bd3f;
    width: 0;
    -webkit-transition: width .4s;
    transition: width .4s;
}

/**************************************************************************************************
Hero
***************************************************************************************************/
#hero{
    margin-top: -55px;
}

.wrapper-hero{
    height: 400px;
}

[data-info="hero-cover"] {
    width: 100%;
}

.wrapper-hero img{
    height: 400px;
    object-fit: cover;
}

/**************************************************************************************************
Linea divisora y titulos principales
***************************************************************************************************/
.line{
    width: 100%;
    height: 3px;
    background-color: #83bd3f;
}
.title-main{
    text-align: center;
}

.title-main h1{
    font-size: 30px;
    letter-spacing: 10px;
    color: var(--azul-oficial);
    margin-top: -12px;
}

.title-main h2{
    font-size: 20px;
    letter-spacing: 10px;
    color: var(--azul-oficial);
    margin-top: -12px;
}

.title-secundary{
    text-align: center;
}
.title-secundary h2{
    font-size: 20px;
    letter-spacing: 10px;
    color: var(--azul-oficial);
    margin-top: -25px;
}

@media screen and (max-width: 991px){
    .title-main{
        margin-top: 20px;
    }
    .title-secundary{
        margin-top: 32px;
    }
}
/**************************************************************************************************
Mansory sitios
***************************************************************************************************/
.masonry { /* Masonry container */
    column-count: 3;
    column-gap: 1em;
}

.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.grid-item{
    display: inline-block;
    padding: 0.5em;
    margin: 0 0 1.8em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.shadow-item{
    box-shadow: 3px 8px 15px 0 rgba(0,0,0,.15);
}

.grid-item img{
    overflow: hidden;
    transition: 200ms;
}

.overlay-img{
    position: relative;
    font-size: 25px;
    overflow: hidden;
}

.overlay-img-in{
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41,128,185,0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 200ms;
}

.view-more{
    text-align: center;
    border: solid 1px #fff;
    border-radius: 5px;
    font-size: 16px;
    transition: 100ms;
}

.view-more p{
    padding: 3px 10px;
}

.view-more p > i{
    margin-top: 10px;
    margin-bottom: 10px;
}

.overlay-img:hover .overlay-img-in{
    top: 0;
    opacity: 1;
}

.grid-item:hover img{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-filter: none;
}

.view-more:hover{
    background-color: #fff;
    color: var(--azul-oficial);
}

.item-title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verde-oficial);
}

.item-title-in{
    text-align: center;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
}

.item-title-in p{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

@media screen and (max-width: 575px){
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 576px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 992px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

/**************************************************************************************************
Internal Page
***************************************************************************************************/
/***************************** hero *****************************/
.internal-title{
    color: #fff;
    font-size: 50px;
    margin-top: -170px;
    text-align: center;
    letter-spacing: 10px;
    font-weight: 800;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.margin-bottom-gen{
    margin-bottom: 4em;
}

.margin-top-internal{
    margin-bottom: 3em;
}

/***************************** carrousel *****************************/
.carousel-item img{
    height: 350px;
    object-fit: cover;
}
/***************************** Article header *****************************/
.header-article{
    margin-bottom: 0.5em;
}

.header-article i{
    display: inline;
    margin-right: 10px;
    font-size: 25px;
    vertical-align: middle;
    color: var(--verde-oficial);
}

.header-article h3{
    font-size: 15px;
    display: inline;
    vertical-align: middle;
    letter-spacing: 2px;
    font-weight: 600;
}

/***************************** Article schedule *****************************/
ul.list-wrapper-schedule{
    list-style: none;
    margin-bottom: 3em;
}

ul.list-wrapper-schedule li:first-child p{
    border-radius: 25px 25px 0 0;
}

ul.list-wrapper-schedule li p{
    display: inline-block;
    background-color: var(--verde-oficial);
    padding: 6px;
    margin: 0;
    color: #fff;
}

ul.list-wrapper-schedule li:last-child p{
    border-radius: 0 0 25px 25px;
}

ul.list-wrapper-schedule li span{
    display: inline-block;
    width: 20%;
    margin-left: 35px;
}

/***************************** Article adddress *****************************/
ul.list-wrapper-address{
    list-style: none;
    margin-bottom: 3em;
}

/***************************** Article email *****************************/
.wrapper-item > a{

}

/***************************** Article station bus *****************************/
ul.list-wrapper-estacion{
    list-style: none;
}
ul.list-wrapper-estacion > li > a{
    color: #424242;
}
.list-wrapper-estacion > li i,
.list-wrapper-estacion > li p{
    display: inline;
}

.list-wrapper-estacion > li i{
    font-size: 10px;
    color: #424242;
    margin-left: 5px;
}

ul.list-wrapper-estacion > li > a > p{
    color: #6f6f6f;
}

/***************************** Article actividades *****************************/
.container-act{
    display: flex;
    justify-content: space-between;
}

.container-act article{
    width: 25%;
}

/**************************************************************************************************
Footer
***************************************************************************************************/
h3[data-title="titulo"]{
    color: var(--azul-oficial);
    font-weight: 900;
    margin-bottom: 0.9em;
}

div[data-info="caja_redes"] {
    text-align: center;
}


div[data-info="caja_redes"] div:nth-child(n){
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
    color: #83bd3f !important;
}

div[data-info="caja_redes"] > div > p{
    font-weight: 600;
    font-size: 10px;
}

div[data-info="caja_contacto"] > div > p{
    font-weight: 600;
    font-size: 10px;
}

div[data-info="caja_contacto"] {
    text-align: center;

}
div[data-info="caja_contacto"] div:nth-child(n){
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    color: var(--verde-oficial);
}

.line-footer{
    margin-top: 2em;
}

div[data-last="sub-footer"]{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 40px;
    font-weight: 600;
}

div[data-last="sub-footer"] div:nth-child(n){
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
    vertical-align: middle;
}

div[data-last="sub-footer"] div:nth-child(1){
    line-height: 14px;
}

[class^="iconw-"], [class*=" iconw-"] {

    font-size: 50px;
    vertical-align: middle;
}

/**************************************************************************************************
Estilos genericos
***************************************************************************************************/
.margin-top-gen{
    margin-top: 4em;
    margin-bottom: 2em;
}