/*
 * Theme Name: Municipalidad de Guatemala
 * Author: The I+D2 team Municipalidad de Guatemala
 * Author URI: http://www.muniguate.com/
 * Description: Page of places of work in the Municipality of Guatemala
 * Version 1.1
 *
 */

/***********************************************************************************************************************
General style
***********************************************************************************************************************/
/*
 *Fonts general and icons official
 */
@import url("../fonts/montserrat/stylesheet.css");
@import url("../fonts/icomoon/style.css");
@import url("../fonts/font-awesome-4.7.0/css/font-awesome.css");

/*
 * General variables
 */
:root {
    --font-official: 'montserratregular';
    --font-icons: 'FontAwesome';
    --color-official: #5a5a5e;
    --color-official-green: #666865;
}

body { font-family: var(--font-official); height: 100%; color: var(--color-official); min-height: 100vh; display: flex; flex-direction: column; }
a:hover { text-decoration: none; }
ul{ margin: 0; padding: 0; }

/***********************************************************************************************************************
Header
***********************************************************************************************************************/
/*
 * Shield Municipal
 */

.shield-municipal{
    padding-top: 1em;
}

.shield-municipal-no-scroll{
    max-width: 175px;
    width: 100%;
}
.shield-municipal-scroll{
    max-width: 125px;
    width: 100%;
    transition-duration: 200ms;
}
[data-header="background"]{
    margin-bottom: 10px;
    background-color: #fff;
    z-index: 100;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    animation: mySmoothScroll 1s forwards;
}
.fixed-top{
    animation: mySmoothScroll 1s forwards;
}

@keyframes mySmoothScroll {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}
/*
 * Icons
 */
.wrapper-icons-top{
    float: right;
    display: inline-block;
    padding-top: 2.2em;
    font-weight: 600;
    padding-left: 25%;
}
.wrapper-icons-top > a{
    display: inline-block;
    padding-right: 2em;
    font-size: 0.8em;
}
.wrapper-icons-top > a > div > i{
    font-size: 1.5em;
    vertical-align: -22%;
    color: var(--color-official);
}

/*
 * Search
 */
.search {
    width: 100%;
    position: relative;
    margin-top: 1.5em;
}
.search:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-family: var(--font-icons);
    content: "\f002";
    background: var(--color-official);
    text-align: center;
    color: #fff;
    border-radius: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: always;
    font-weight: 400;
}
.searchTerm {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid var(--color-official);
    padding: 5px;
    height: 40px;
    border-radius: 0;
    outline: none;
}
.searchButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}

/*
 * Navbar
 */
.navbar-light{
    background-color: rgba(255,255,255, 0.95);
    position: relative;
    z-index: 10;
}
.navbar-nav{
    width: 100%;
}
.nav-item a:first-child{
    padding-left: 5px !important;
}
.nav-item a{
    padding-left: 30px !important;
    padding-right: 30px !important;
    color: var(--color-official) !important;
    font-weight: 600;
    letter-spacing: 1px;
}

/*
 * Hero
 */
.hero{
    margin-top: -56px;
    position: relative;
    z-index: 1;
}
.hero img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 100%;
}

/*
 * Media query header
 */
@media screen and (max-width: 767.98px) {
    .shield-municipal img{
        min-width: 115px;
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991.98px){
    .wrapper-icons-top > a{
        padding-right: 1em;
    }
}
@media screen and (max-width: 575.98px){
    .wrapper-icons-top{
        padding-left: 5%;
    }
    .wrapper-icons-top > a{
        padding-right: 0.5em;
        font-size: 0.7em;
    }
}
/***********************************************************************************************************************
Title
***********************************************************************************************************************/
.wrapper-title{
    margin-top: 3em;
}
.top-line{
    margin-top: 2em;
}
.line{
    width: 100%;
    height: 3px;
    background-color: var(--color-official-green);
}
.section-title h1{
    text-align: center;
    letter-spacing: 10px;
    font-size: 1.2em;
    font-weight: 900;
}
.section-title h2{
    text-align: center;
    letter-spacing: 10px;
    font-size: 1.6em;
    font-weight: 900;
    margin-top: -10px;
}
@media screen and (max-width: 991.98px){
    [data-line="mobil"]{
        padding-bottom: 22px;
    }
}
/***********************************************************************************************************************
Main Content
***********************************************************************************************************************/
/*
 * All main site content
 */
.site-content {
    flex: 1;
}

/*
 * Card search dependency
 */
.h1-list h2{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px 0;
    text-align: center;
    margin: 0;
}
.h1-list{
    border-top: solid rgba( 0, 0, 0, 0.1) 1px;
    border-bottom: solid rgba( 0, 0, 0, 0.1) 1px;
    margin-bottom: 30px;
}
.wrapper-list{
    border-right: solid rgba( 0, 0, 0, 0.1) 1px;
}
.wrapper-list ul{
    margin-left: 15px;
    padding-right: 25px;
}
.wrapper-list ul > li {
    list-style: none;
    padding: 8px 0;
}
.wrapper-list ul > li > div{
    width: 18%;
    height: 2px;
    background-color: var(--color-official-green);
    transition-duration: 200ms;
    box-shadow: 1px 4px 3px rgba(0,0,0, 0.02);
}
.wrapper-list ul > li:hover > div{
    width: 90%;
}
.wrapper-list ul > li a{
    font-size: 14px;
    color: var(--color-official);
}
/*
 * Pagination
 */
#pagination-container{
    padding: 35px 0 0;
}
.light-theme .current{
    background-color: #fff;
    color: var(--color-official);
    border: var(--color-official);
}
.light-theme a, .light-theme span{
    color: var(--color-official);
    border: none;
    background-color: #fff;
}
.simple-pagination ul{
    display: flex;
    justify-content: center;
}

/***********************************************************************************************************************
Scroll to top
***********************************************************************************************************************/
.scroll-to-top{
    text-decoration: none;
    position: fixed;
    right: 25px;
    bottom: 25px;
    display: none;
    font-size: 40px;
    color: #555;
    font-family: var(--font-icons);
    background-color: #fff;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    line-height: 35px;
    z-index: 99;
    box-shadow: 1px 5px 10px rgba(0,0,0, 0.2);
}
.scroll-to-top i{
    margin: 0;
    line-height: 0;
    padding: 0;
}

.scroll-to-top:hover{
    text-decoration:none;
    color: #000;
}

@media screen and (max-width: 1200px){
    .scroll-to-top{
      right: 10px;
    }
}
/***********************************************************************************************************************
Footer
***********************************************************************************************************************/
/*
 * Icons, general
 */
footer{
    margin-top: 35px;
}
[class^="icon-"],
[class*=" icon-"] {
    font-size: 50px;
    vertical-align: middle;
}
a > i{
    color: var(--color-official-green);
    font-style: normal;
}

/*
 * Title footer
 */
h3[data-title="title"]{
    color: var(--color-official) !important;
    font-weight: 900;
    margin-bottom: 0.9em;
}

/*
 * Social icons box
 */
div[data-info="social-box"] {
    text-align: center;
}
div[data-info="social-box"] div:nth-child(n){
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
    color: var(--color-official-green) !important;
}
div[data-info="social-box"] > div > p{
    font-weight: 600;
    font-size: 10px;
}

/*
 * Contact icons box
 */
div[data-info="contact-box"] > div > p + p{
    display: none;
}
div[data-info="contact-box"] > div > p{
    font-weight: 600;
    font-size: 10px;
}
div[data-info="contact-box"] {
    text-align: center;
}
div[data-info="contact-box"] div:nth-child(n){
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    color: var(--color-official-green) !important;
}

/*
 * Last footer
 */
.line-footer{
    margin-top: 2em;
}
div[data-last="sub-footer"]{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 40px;
    font-weight: 600;
}
div[data-last="sub-footer"] div:nth-child(n){
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
    vertical-align: middle;
}
div[data-last="sub-footer"] div:nth-child(1){
    line-height: 14px;
}
.wrapper-directions-footer{
    padding-top: 20px;
}
.wrapper-directions-footer span{
    display: block;
}
.wrapper-brand-it{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
 * Media query
 */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    div[data-info="contact-box"] div:nth-child(n){
        padding-left: 0.8em;
        padding-right: 0.8em;
    }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    h3[data-title="title"]{
        font-size: 20px;
    }
    div[data-info="social-box"] div:nth-child(n){
        padding-left: 1em;
        padding-right: 1em;
    }
    .fa-address-book,
    [class^="icon-"],
    [class*=" icon-"] {
        font-size: 30px;
        vertical-align: middle;
    }
    div[data-info="contact-box"] div:nth-child(n){
        padding-left: 0.2em;
        padding-right: 0.2em;
    }
    div[data-info="contact-box"] > div > p{
        display: none;
    }
    div[data-info="contact-box"] > div > p + p{
        display: block;
        font-size: 10px;
    }
    .top-generico-footer{
        margin-top: 0;
    }
}

@media screen and (max-width: 767.98px){
    div[data-info="social-box"] div:nth-child(n){
        padding-left: 1em;
        padding-right: 1em;
    }
    [class^="icon-"],
    [class*=" icon-"] {
        font-size: 45px;
        vertical-align: middle;
    }
    div[data-info="social-box"] > div > p{
        margin-top: 5px;
        font-size: 9px;
    }
    div[data-info="contact-box"] > div > p{
        margin-top: 5px;
        font-size: 9px;
    }
    h3[data-title="title"]{
        font-size: 1em;
    }
}



nav{
	background: #fff;
}
.navbar{
	margin-bottom: 0;
}
.dropdown-toggle{
	cursor: pointer;
}
ul[id^=main-nav].nav.nav-pills{
	width: auto;
}
ul[id^=main-nav].nav-pills > li{
	display: inline-block;
	float: none;
	margin-left: 5px;
	padding: 10px 0px;

}
.nav-pills > li > a{
	color: #fff;
	border-right: 1px solid #fff;
	border-radius: 0;
	padding: 2px 15px;
	text-transform: uppercase;
}
.nav-pills > li > a:hover{
	color: #474747;
}
.nav-pills > li .open > a{
	color: #474747 !important;
}
.nav-pills > li .active > a,
.nav-pills > li .active > a:hover,
.nav-pills > li .active > a:focus{
	background: none;
	border: none;
}
#home .inicio{
	display: none;
}
.dropdown-submenu{
    position:relative;
}
.dropdown-submenu > .dropdown-menu
{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color: #030e9e;
    margin-top:5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after{
    border-left-color: #030e9e;
}
.dropdown-submenu .pull-left{
    float:none;
}
.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.root:hover > .dropdown-menu{
    display: block;
}
.dropdown-menu>li>a{
	font-weight: 400 !important;
    color: #030e9e !important;
    font-size: 13px;
}
.navbar-nav > li > ul > li > ul,
.navbar-nav > li > ul > li > ul > li > ul {
	top: 1px !important;
	left: calc(100% + 1px) !important;
	border-radius: 0 0 4px 4px !important;
	z-index: 100 !important;
	box-shadow: 1px 1px 1px rgba(0,0,0, 0.05) !important;
	box-sizing: border-box;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus{
	background-color: transparent;
	border: none;
}
.dropdown-menu{
	left: initial;
	min-width: initial;
	background-color: rgba(255, 2555, 255, 0.95);
	border:none;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus{
	color: #030e9e;
	background-color: transparent;
}

.fa {
    color: #030e9e;
 }

 .dropdown-menu {
     padding: .1rem 0 !important;
     border-radius: .10rem !important;
 }

 .wrapper-bajar {
     margin-top: 10px;
 }

 .wrapper-file {
    margin-top: 25px;
}

 .form-control {
     height: 40px;
     color: #030e9e;
 }

 .wrapper-centrar {
     text-align: center;
 }
 .form-control:focus {
    box-shadow: none !important;
    border-color: #ccc !important;
 }

 .form-control:disabled, .form-control[readonly]{
    background-color: rgba(223,223,223, 0.3) !important;
    opacity: 1 !important;
 }

 .wrapper-form {
     text-align: center;
 }

.btn:hover {
    /*background-color: #030e9e;*/
    border-color: #fff;
}

.btn-outline-success {
    border-color: #030e9e;
    color: #030e9e;
}

.wrapper-upper {
    text-transform: uppercase;
}

.dropdown-menu>li:hover,
.dropdown-menu>li:focus {
    background-color: #dfdbdb !important;
    font-weight: 300 !important;
}

.bar_inicio {
    background-color: var(--color-official-green) !important;
}

.bar_pendiente {
    background-color: var(--color-official) !important;
}

.wrapper-back {
    text-decoration: none;
    color: var(--color-official);
    font-size: 20px;
}
.wrapper-table {
    background-color: var(--color-official-green);
    color: #fff;
}
.wrapper-table-end {
    background-color: var(--color-official);
    color: #fff;
}
/**************** login ***************/
.w-login {
    min-height: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.w-login form {
    /*border: solid 1px;*/
    padding: 40px 25px;
    border-radius: 6px;
    background-color: #fff;
    /*box-shadow: 1px 2px 10px rgba(0,0,0, 0.25);*/
}
.w-iner {
    margin: 15px 0;
}
.w-iner input {
    width: 100%;
}
.w-login > form > button {
    width: 100%;
    margin: 40px 0 0;
}
.tarea {
    height: 50%;
}

.wrapper-tarea > div > .form-control {
    resize: none;
    height: 200px !important;
}

.center {
    text-align: center;
}

table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: unset !important;
}

table {
    width: 100% !important;
}
.wrapper-space {
    margin-top: 15px;
} 

.fa-1x {
    font-size: .8em !important;
    padding-left: 20px !important;
}

.card {
    text-align: justify;
    letter-spacing: -1px;
}

.wrapper-txt {
    /*text-align: justify !important;*/
    font-size: 14px;
}
/*
a {
    color: var(--color-official);
}
*/
.wrapper-tarea > .form-control {
    resize: none;
    height: 150px !important;
    text-transform: uppercase !important;
}


.btn-outline-close {
    border-color: #f70404;
    color: #f70404;
}

.btn-outline-close:hover {
    color: #fff;
}

.ocultar {
    display: none;
}

.btn1:hover {
    background-color: #f70404;
    border-color: #fff;
}



a > .fa:hover {
    color: #fff !important;
}

.wrapper-text {
    width: 210px !important;
}

@media (max-width: 360px){
    .wrapper-fecha {
        color: #412d2d;
    }
    .wrapper-text {
        font-size: 13px !important;
        width: 170px !important;
    }
    .wrapper-texto {
        font-size: 2px !important;
        color: #67ce13;
    }    
}

a > .fa:hover {
    color: #67ce13 !important;
}

.wrapper-texto {
    font-size: 15px !important;
}

.wrapper-descripcion {
    font-size: 13px !important;
}

.table td, .table th {
    vertical-align: middle  !important;
}

.wrapper-warning {
    margin-top: 30px !important;
    text-align: center;
}

.warning {
    color: #DB9E36 !important;
    font-family: 'montserratregular';
    font-size: 22px;
}

.fa-color {
    color: #DB9E36 !important;
}

.fa-color-add {
    color: #79C438 !important;
    font-size: 2.4em !important;
}

.success {
    color: #79C438 !important;
    font-family: 'montserratregular';
    font-size: 22px;
}

.navbar>.container-fluid {
    justify-content: flex-start;
}

.custom-select-sm {
    height: calc(3.5rem + 4px)!important;
}

.wrapper-logo-secondary img{
	padding: 25px;
	width: 275px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(4rem + 2px) !important;
}

.overview__inner-1{
	background: #0575E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #7f8486	, #626f7c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #bdc3c7	, #626f7c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 5px;
	padding: 35px 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    text-align: center;
    margin-top: 30px;
}

.span-dasboard {
    color: #fff;
    font-size: 25px;
}

.wrapper-return {
    text-align: right;
}