
#input-search {
    /*width: 300px;
    height: 40px;
    font-size: 20px;
    text-indent: 10px;*/
}

.content-search {
    /*width: 50%;/*/
    /*height: 100vh;*/
    /*position: fixed;*/
    top: 10px;
    left: 0px;
    /*background: rgba(4, 13, 129, 0.3);*/
    display: none;
    height: 300px;
}

.content-table {
    /*width: 80%;
    max-height: 200px;
    height: auto;
    background: rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    padding: 10px;*/
    overflow-y: visible;
    overflow-x: hidden;  
}

.content-table table {
    width: 100%;
}

tbody tr td a {
    display: block;
    padding: 30px;
    color: #000;
    text-decoration: none;
}

tbody tr td a:hover{
    background: rgba(133, 135, 139, 0.685);
    color: #000;
}

#table_length, #table_filter, #table_info, #table_paginate {
    display: none;
}

.center {
    text-align: center !important;
}
.form-control {
    height: 60px !important;
    font-size: 25px;
}

tr {
    text-align: left !important;
    text-transform: capitalize !important;
}

.wrapper-imagen {
    width: 25px;
}