html{
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

:root{
	--color-font: #005691;
	--color-items: #ABB4BA;
	--color-items-1: #ABB4BA;
	--color-boton: #004843;
	--color-grey-1:#e8f1f5;
	--color-grey-2:#fafafa;
	--color-items_table: #5D6A73;
	--color-boton-add: #07C03C;
}
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
i{
	/*font-family: 'FontAwesome' !important;*/
	font-style: normal !important;
}
html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    text-align: center;
	height: 100%;
	margin: 0;
}

.wrapper-content-hv{
	padding: 20px;
	min-height: 100%;
	margin: 0 auto -65px;
}
.footer,
.push {
	height: 65px;
}
strong { font-weight: 500; }

a, a:hover, a:focus {
	color: var(--color-items); text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 { margin-top: 10px; font-family: 'Josefin Sans', sans-serif; font-size: 48px; font-weight: 300; color: #0b6a58; line-height: 56px; text-transform: uppercase;}
h3 { font-family: 'Josefin Sans', sans-serif; font-size: 32px; font-weight: 300; color: #555; line-height: 40px; }

img {
	max-width: 100%;
}

.medium-paragraph { font-size: 18px; line-height: 34px; }

.colored { color: #6eba3c; }

::-moz-selection { background: #6eba3c; color: #fff; text-shadow: none; }
::selection { background: #6eba3c; color: #fff; text-shadow: none; }


/***** General style, all sections *****/

.section-container { margin: 0 auto; padding-bottom: 80px; }
.section-description { margin-top: 60px; padding-bottom: 10px; }
.section-description p { margin-top: 20px; padding: 0 120px; }


/***** Divider *****/

.divider-1 { padding: 25px 0 15px 0; }
.divider-1 .line { width: 160px; margin: 0 auto; border-bottom: 1px dashed #ccc; }


/***** Top menu *****/
.navbar-default .navbar-nav>li>a{
	color: #fff;
	transition-delay: 100ms;
}
.navbar-default .navbar-nav>li:hover a {
	background-color: #fff;
	color: #0b6a58;
}
.navbar-default{
	border: none;
	background-color: var(--color-items);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.08);
}
.navbar navbar-default navbar-fixed-top,
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	vertical-align: middle !important;
}

.navbar-nav > li a{
	text-transform: uppercase;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	max-height: 600px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: var(--color-font) !important;
}


@media screen and (max-width: 1200px){
	.navbar-default .navbar-nav>li>a{
		font-size: 14px;
		padding: 15px 8px;
	}
}
@media screen and (max-width: 992px){
	.navbar-default .navbar-nav>li>a{
		font-size: 13px;
		text-transform: capitalize;
		padding: 15px 5px;
	}
}

@media screen and (max-width: 768px){
	.navbar-default .navbar-nav>li>a{
		color: var(--color-font);
		font-size: 18px;
		font-weight: 600;
		padding: 10px 8px;
	}
	.navbar-default .navbar-nav>li:nth-child(1) a,
	.navbar-default .navbar-nav>li:nth-child(3) a,
	.navbar-default .navbar-nav>li:nth-child(5) a,
	.navbar-default .navbar-nav>li:nth-child(7) a{
		background-color: var(--color-grey-1);
	}
	.navbar-default .navbar-nav>li:nth-child(2) a,
	.navbar-default .navbar-nav>li:nth-child(4) a,
	.navbar-default .navbar-nav>li:nth-child(6) a,
	.navbar-default .navbar-nav>li:nth-child(8) a{
		background-color: #fff;
	}

}

/***** Features *****/

.features-box { margin-top: 30px; text-align: left; }
.features-box .features-box-icon { font-size: 60px; color: #6eba3c; line-height: 60px; text-align: center; }
.features-box h3 { margin-top: 0; padding: 0 0 10px 0; }

/***** Content main *****/
.wrapper-content-all{
	padding: 75pxS;
}
.wrapper-dashboard{
	margin-top: 100px;
}
@media screen and (max-width: 992px){
	.wrapper-dashboard{
		margin-top: 0;
	}
	.wrapper-logo-main img{
		padding: 25px 5px 5px !important;
	}
}
.overview__inner-1{
	background: #0575E6;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #bdc3c7	, #626f7c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #bdc3c7	, #626f7c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 5px;
	padding: 35px 5px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}
.overview__inner-2{
	background: #00B4DB;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-radius: 5px;
	padding: 35px 5px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.1);
}
.overview-box{
	color: #fff;
}
.overview-box div.text span{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.overview-box div.text h2{
	color: #fff;
	font-weight: 900;
}
.overview-box button{
	background-color: transparent;
	border: none;
}
.overview-box button a{
	color: #fff;
}

@media screen and (max-width: 992px){
	.overview-item{
		margin-bottom: 25px;
	}
}

/*************logo main *************/
.wrapper-logo-main img{
	padding: 25px;
	width: 275px;
}
.wrapper-logo-secondary{
	text-align: left;
	margin-top: 50px;
}
.wrapper-logo-secondary img{
	padding: 25px;
	width: 275px;
}
@media screen and (max-width: 578px){
	.wrapper-logo-secondary img{
		width: 170px;
	}
}

/***** Footer *****/
.wrapper-footer{
	color: #fff;
}
footer {
	padding: 5px 0 15px 0;
	background: var(--color-items);
	align-self: flex-end;
}

.footer-copyright { padding-top: 15px; }
.footer-copyright a { color: #fff; border-bottom: 1px dotted #888; }
.footer-copyright a:hover, .footer-copyright a:focus { color: #fff; border: 0; }



/***** MEDIA QUERIES *****/


@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {

	.section-description p { padding: 0; }

	.features-box .features-box-icon { font-size: 50px; line-height: 50px; }

}

@media (max-width: 767px) {

	.navbar { padding-top: 0; background: #fff; }
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-toggle { border-color: transparent; }
	ul.navbar-nav li a.btn-link-3 { margin: 10px; }

	.navbar-no-bg {
		-moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
	}
	.navbar-no-bg .navbar-brand { background-image: url(assets/img/img2.png); }

	.navbar-no-bg ul.navbar-nav { color: #888; }
	.navbar-no-bg ul.navbar-nav li a { color: #888; }
	.navbar-no-bg ul.navbar-nav li a:hover { color: #aaa; }
	.navbar-no-bg ul.navbar-nav li a:focus { color: #aaa; }

	.navbar-no-bg ul.navbar-nav li a.btn-link-3 { color: #fff; }
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:hover,
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:focus,
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:active,
	.navbar-no-bg ul.navbar-nav li a.btn-link-3:active:focus { color: #fff; }

	/* end navbar */

	.section-description p { padding: 0; }

	.top-content { padding: 40px 0 60px 0; }

	.features-box { text-align: center; }
	.features-box h3 { margin-top: 5px; padding-top: 10px; }

}

@media (max-width: 415px) {

	h1, h2 { font-size: 36px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	/* logo */
    .navbar-brand {
    	background-image: url(assets/img/img.png) !important; background-repeat: no-repeat !important; background-size: 102px 32px !important;
    }

    /*.navbar-no-bg .navbar-brand { background-image: url(assets/img/img.png); }*/

}

.backstretch {
	height: 230px !important;
}

.backstretch img {
	transform: translateY(-185px) !important;
}

.medium-paragraph {
	font-size: 20px !important;
}

.form-control {
	height: 40px;
	font-size: 20px;
	color: var(--color-items_table);
	border-radius: 2px !important;
	/*text-transform: capitalize !important;*/
	text-align: left !important;
}
.form-control:active,
.form-control:focus{
	border-color: rgba(0,0,0,0.1);
	box-shadow: none;
}

.centrar {
	text-align: center;
}
.bajar {
	margin-top: 15px;
}

.baja-footer {
	margin-top: 150px;
}

.navbar-brand img{
	display: inline-block;
	padding-right: 5px;
}
.navbar-default .navbar-brand{
	color: var(--color-font);
	font-weight: 600;
	background-color: white;
}
.navbar-brand:hover{
	color: #fff !important;
}
/* lineas
================================================= */
.line{
    width: 100%;
    height: 6px;
    /*background-color: #1C22B0;*/
    background-color: var(--color-items);

}

.titulo-seccion{
    text-align: center;
    letter-spacing: 10px;
    font-size: 1.2em;
    font-weight: 900;
    margin-top: -10px;
    color:  var(--color-items);
}

.top-generico{
    margin-top: 1em;
}

.top-generico-footer{
    margin-top: 2em;
}

.bottom-generico{
    margin-bottom: 2em;
}

.bottom-generico-2{
    margin-bottom: 5em;
}

.bottom-generico-m{
    margin-bottom: 2em;
}

@media screen and (max-width: 992px){
    div[data-line="movil"]{
        margin-bottom: 1.5em;
    }
    .bottom-generico-m{
        margin-bottom: 0em;
    }
}

@media screen and (max-width:767px ){
    [data-info="linea-sh"]{
        background-color: transparent;
    }
    .bottom-generico-m{
        margin-bottom: 0em;
    }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
    .titulo-seccion{
        font-size: 1em;
    }
    .bottom-generico-m{
        margin-bottom: 0em;
    }
}

@media screen and (max-width: 499px){
    .titulo-seccion{
        font-size: .8em;
        letter-spacing: 5px;
    }
    .bottom-generico-m{
        margin-bottom: 0em;
    }
}

label {
	color: var(--color-items_table);
}

.upper {
	text-transform: uppercase;
}

.boton {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #030e9e;
    background: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #e9e9e9;

}
.boton:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;

}
.boton-formulario .boton{
    padding: 10px 30px;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.boton-1f:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #030e9e;
}

.boton-1f:hover,
.boton-1f:active {
    color: #fff;
    z-index: 3;
    border-radius: 6px;
}

.boton-1f:hover:after,
.boton-1f:active:after {
    width: 100%;
}

.boton3 {
	color: var(--color-items) !important;
	font-size: 20px;
	font-weight: 500;
	padding: 0.1em 1.2em;
	background: rgba(0,0,0,0);
	border: 2px solid;
	transition: all 0.6s ease;
	position: relative;
	text-align: center;
	border-radius: 3px;
	height: 40px;
	line-height: 0px;
	
  }
  .boton3:hover {
	background: var(--color-items);
	color: #fff !important;
  }

  .boton4 {
	color: var(--color-items) !important;
	font-size: 20px;
	font-weight: 500;
	padding: 0.1em 1.2em;
	background: rgba(0,0,0,0);
	border: 2px solid;
	border-color: var(--color-items);
	transition: all 0.6s ease;
	position: relative;
	text-align: center;
	  border-radius: 3px;
  }
  .boton4:hover {
	background: var(--color-items);
	color: #fff !important;
  }

  .left {
  	text-align: left;
  }


.boton_close {
	color: red !important;
	font-size: 20px;
	font-weight: 500;
	padding: 0.1em 1.2em;
	background: rgba(0,0,0,0);
	border: 2px solid;
	border-color: red;
	transition: all 0.6s ease;
	position: relative;
	text-align: center;
	height: 40px;
	line-height: 0px;
  }
  .boton_close:hover {
	background: red;
	color: #fff !important;
  }
  .modal-header .close {
  	margin-top: -25px !important;
  }
  .modal-title {
  	color: #0b6a58  !important;
  	font-size: 20px !important;
  }

 .abono {
 	height: 55px !important;
 }
 tr {
	 color: var(--color-items_table)  !important;
	 font-size: 15px !important;
	 font-weight: 500;
 }

.close {
	color: red !important;
	opacity: none !important;
}

.img-edit {
	width: 25px;
}
.img-caso {
	width: 25px;
}
.ocultar {
	display: none;
}

[data-grid="m-abajo"]{
	margin-bottom: 25px;
}
.fs-min {
	text-transform: lowercase;
}
/*
span {
	color: #0b6a58;
	font-weight: bold;
	font-size: 20px;
}*/

a:hover{
	color: #cad7ee;
}
a {
	text-decoration: none;
}


.wrapper-main-files{
	width: 100%;
	display: flex;
	align-content: space-between;
}

.wrapper-main-files > a,
.wrapper-main-files div{
	width: 50%;
}

.contenido {
	font-weight: bold;
	color: #1c3158 !important;
	vertical-align: middle;
}
.add-folder a p{
	margin-top: 15px;
}
.add-folder span{
	margin-left: 20px;
}
@media screen and (max-width: 578px){
	.add-folder span{
		display: none;
	}
}
.contenido a p{
	font-size: 20px;
	display: inline-block;
}
.contenido a p i {
	vertical-align: middle;
	padding-right: 10px;
}


.contenido > a, a:focus {
	color: #1c3158 !important;
}

.contenido_niv {
	font-weight: bold;
	color: #2445CF !important;
}

.contenido_niv > a, a:focus {
	color: #004a7c !important;
}

.contenido_nivel {
	font-weight: bold;
	color: #6191A8 !important;
}

.contenido_nivel > a, a:focus {
	color: #6191A8 !important;
}

.download {
	margin-left: 50px;
	color: #0b6a58;
}

.download_niv_3 {
	margin-left: 145px;
	color: #005691;
}

.niv_3 {
	margin-left: 85px;
	color: #0b6a58;
}

.list-group {
	margin-bottom: 5px !important;
}

.boton5 {
	color: #fff !important;
	font-size: 20px;
	font-weight: 500;
	padding: 0.5em 1.2em;
	background: #0b6a58;
	position: relative;
	border: 2px solid #0b6a58;
	outline: 1px solid;
	outline-color: rgba(49, 138, 172, 0.4);
	transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .boton5:hover {
	box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
	outline-color: rgba(49, 138, 172, 0);
	outline-offset: 80px;
	text-shadow: 1px 1px 6px #fff;
	border-shadow: 
  }

.panel-warning>.panel-heading{
	background-color: var(--color-grey-1) !important;
	border-color: var(--color-grey-2) !important;
}
.panel-warning{
	border-color: var(--color-grey-2) !important;
}
.wrapper-return{
	text-align: right;
}

.position-left {
	text-align: left;
}

.position-left, input {
	text-align: center;
}

.wrapper-formulario-pass {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.wrapper-formulario-pass > div {
	width: 45%;
	margin: 10px;
}

@media screen and (max-width: 768px){
	.wrapper-formulario-pass > div {
		width: 100%;
	}
}


@media (max-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
	}
	.navbar-right{
		margin-right: 0%;
	}
	#bs-example-navbar-collapse-1{
		padding: 0 55px;
	}
	#bs-example-navbar-collapse-1 ul:last-child{
		margin-top: 0;
		margin-bottom: 50px;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		border: none;
	}
	.navbar-collapse{
		box-shadow: initial;
	}
	.navbar-header{
		background-color: #fff;
	
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
		background-color: var(--color-items);
	}
	.container-fluid{
		padding: 0;
	}
	.navbar-default .navbar-toggle:focus{
		background-color: var(--color-items);
	}
	.navbar-default .navbar-toggle:hover .icon-bar{
		background-color: #fff !important;
	}
	.navbar-default .navbar-brand{
		padding-left: 50px;
	}
	#mobUser{
		text-align: right;
		width: 100%;
	}
}


.boton6 > a {
	color: #fff;
}

.boton6 {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	padding: 8px 24px;
	background: #646E8C;
	border: 2px solid;
	transition: all 0.6s ease;
	position: relative;
	text-align: center;
	border-radius: 5px;
  }
  .boton6:hover {
	background: #95A0BF;
	color: #fff;
	border: solid 2px #95A0BF;
	font-size: 17px;
	/*text-transform: uppercase;*/
  }

  .fa-1x {
	font-size: 1.3em !important;
}

.wrapper-imagen {
	width: 25px;
}


.navbar-collapse {
	
	font-size: 14px !important;
}

.center {
	text-align: center !important;
}

.wrapper-detalle {
	margin-top: 55px;
}

.wrapper-title-detalle {
	margin-top: 45px !important;
}

.boton_add {
	color: var(--color-boton-add) !important;
	font-size: 20px;
	font-weight: 500;
	padding: 0.1em 1.2em;
	background: rgba(0,0,0,0);
	border: 2px solid;
	transition: all 0.6s ease;
	position: relative;
	text-align: center;
	border-radius: 3px;
	height: 40px;
	line-height: 0px;
	
  }
  .boton_add:hover {
	background: var(--color-boton-add);
	color: #fff !important;
  }

.wrapper-total {
	  font-size: 28px !important;
	  color: red;
	  font-weight: 500;
  }

.disable {
	display: none;
}