.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #5D6975;
  text-decoration: underline;
}

body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #000;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
}

header {
  /*padding: 10px 0;*/
  margin-bottom: 30px;
}

#logo {
  text-align: center;
  margin-bottom: 5px;
}

#logo img {
  width: 90px;
}

h1 {
  border-top: 1px solid  #000;
  border-bottom: 1px solid  #000;
  color: #000;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background: url(img/dimension.png);
}

h2 {
  border-top: 1px solid  #000;
  border-bottom: 1px solid  #000;
  color: #000;
  font-size: 1.8em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
  background: url(img/dimension.png);
}

#project {
  float: left;
}

#project span {
  color: #000;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

#company {
  float: right;
  text-align: right;
}

#project div,
#company div {
  white-space: nowrap;        
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  border-collapse: 
}

table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;        
  font-weight: normal;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 6px;
  text-align: center;
}

table td.service,
table td.desc {
  vertical-align: top;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}

table, td, th {
    border: 1px solid #79868B;
    color: #5B6A73;
}

.center {
  text-align: center;
}

span {
  font-size: 15px;
  color: #000;
}

h3 {
  margin-top: -0px !important;
  font-size: 12px;
}

.datos {
  margin-top: 3px !important;
}

.wrapper-img {
  margin-top: -100px !important;
}

.bold {
  font-weight: 700;
}

.wrapper-datos {
  font-size: 8px !important;
}

.wrapper-container-print {
  display: flex !important;
}

p {
  text-align: justify !important;
  font-size: 10px;
}

.wrapper-muni {
  font-size: 18px !important;
}

.wrapper-space {
  margin-top: -10px;
}

.wrapper-txt {
  margin-top: 20px;
}